@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    background-color: #f0f8ff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}

h2 {
    text-align: center;
    color: #000000;
    margin-top: 20px;
}

.form-label {
    font-weight: 600;
    color: #000000;
}

.form-control {
    border-radius: 10px;
    border: 1px solid #ced4da;
    transition: all 0.3s ease-in-out;
    margin-bottom: 15px;
    width:100%
}

.form-control:focus {
    box-shadow: 0 0 10px #00bfff;
    border-color: #00bfff;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #00bfff;
    border-color: #00bfff;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
    background-color: #2e8b57;
    border-color: #2e8b57;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form-section {
    width: 60%;
}

.image-section {
    width: 35%;
}

img {
    width: 100%;
    border-radius: 15px;
}

@media (max-width: 767.98px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    .form-container {
        flex-direction: column;
    }

    .form-section, .image-section {
        width: 100%;
    }

    img {
        margin-top: 20px;
    }
}
